body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}
div, span, p, h1, h2, h3, h4, input, textarea, select, section {
  box-sizing: border-box;
}

input[type=text], textarea, select {
  display: block;
  height: 44px;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  width: 100%;
  padding: 0 16px;
}

h1, h2, h3, h4 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.0rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}

.form-panel {
  display: block;
  margin: auto;
  max-width: 640px;
  margin-top: 32px;
  padding: 32px;
  border: 1px solid #DDDDDD;
}

.sections {
  
  display: block;
  
  section {
    display: block;
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
    > section {
      margin-bottom: 0;
    }
  }
  
}

.form {
  display: flex;
  flex-direction: column;
  > div {
    flex: 0 0 auto;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    > div {
      display: block;
    }
  }
  label {
    font-size: 14px;
    color: rgb(16, 16, 106);
    display: block;
    padding-bottom: 8px;
  }
}

button {
  display: block;
  appearance: none;
  height: 44px;
  border-radius: 6px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  box-shadow: none;
  border: 0;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  .item {
    flex: 0 0 auto;
    padding-bottom: 16px;
    margin-right: 16px;
  }
  .selected {
    border-bottom: 1px solid #990000;
  }
}